version: '3.9'
services:
  backend:
    build: ./backend
    container_name: house_price_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: always
  frontend:
    build: ./frontend
    container_name: house_price_frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    restart: always